@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap");
:root {
  --bg-gray: rgba(200, 200, 200, 1);
  --bg-darkgray: rgb(124, 124, 124);
  --bg-lightgray: rgba(170, 168, 168, 0.1);
  --font-heading: clamp(35px, 6vw, 50px);
  --font-subheading: clamp(30px, 5vw, 40px);
  --font-smallheading: clamp(15px, 3vw, 18px);
  --font-para: 15px;
  --boxshadow-light: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
  --boxshadow-dark: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
  --transition: 300ms ease;
}

*,
html {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

code {
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
}
a:hover {
  color: rgba(255, 255, 255, 0.5);
}

li {
  list-style: none;
  text-decoration: none;
}

p {
  line-height: 150%;
}

button:hover {
  cursor: pointer;
}

span {
  letter-spacing: 3px;
  font-size: 12px;
  font-weight: 400;
}

input {
  padding: 1.5rem;
  background-color: transparent;
  border: 1px solid rgba(200, 200, 200, 0.2);
  border-radius: none;
  outline: none;
  letter-spacing: 1px;
}

textarea {
  padding: 1rem;
  outline: none;
  height: 10rem;
  resize: none;
}

hr {
  width: 12rem;
  height: 1px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 3px;
}

.feather {
  cursor: pointer;
}

.container {
  width: 100%;
  /* max-width: 1500px; */
  max-width: 1200px;
  margin: auto;
  padding: 1rem 2rem;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
.grid {
  display: grid;
}

.after-line::after {
  content: "";
  display: block;
  position: relative;
  width: 200px;
  height: 2px;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.1);
}
.before-line::before {
  content: "";
  display: block;
  position: relative;
  width: 200px;
  height: 2px;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.1);
}

.hover-line {
  position: relative;
  display: inline-block;
  line-height: inherit;
}
.hover-line::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: black;
  border-radius: 4px;
  scale: 0 1;
  transform-origin: left;
  transition: scale 0.25s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hover-line:hover::before {
  scale: 1;
}
@media (max-width: 1440px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 425px) {
  .container {
    width: 90%;
  }
}
